YAT/!-Settings/2013-02-02 - YAT 2.0 Beta 4 Candidate 2 Version 1.99.30/LocalUserSettingsSchema-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocalUserSettings" nillable="true" type="LocalUserSettingsRoot" />
  <xs:complexType name="LocalUserSettingsRoot">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FileType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SettingsVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Warning" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Saved" type="SaveInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="General" type="GeneralSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Paths" type="PathSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutoWorkspace" type="AutoWorkspaceSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainWindow" type="MainWindowSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="NewTerminal" type="NewTerminalSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="RecentFiles" type="RecentFileSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettingsItem" abstract="true" />
  <xs:complexType name="RecentFileSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FilePaths" type="RecentItemOfString" />
          <xs:element minOccurs="1" maxOccurs="1" name="FilePathsCapacity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RecentItemOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Item" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SerialCommunicationSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BaudRate" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DataBits" type="DataBits" />
          <xs:element minOccurs="1" maxOccurs="1" name="Parity" type="Parity" />
          <xs:element minOccurs="1" maxOccurs="1" name="StopBits" type="StopBits" />
          <xs:element minOccurs="1" maxOccurs="1" name="FlowControl" type="SerialFlowControl" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DataBits">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Five" />
      <xs:enumeration value="Six" />
      <xs:enumeration value="Seven" />
      <xs:enumeration value="Eight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Parity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Odd" />
      <xs:enumeration value="Even" />
      <xs:enumeration value="Mark" />
      <xs:enumeration value="Space" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StopBits">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="One" />
      <xs:enumeration value="Two" />
      <xs:enumeration value="OnePointFive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SerialFlowControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Hardware" />
      <xs:enumeration value="Software" />
      <xs:enumeration value="Combined" />
      <xs:enumeration value="ManualHardware" />
      <xs:enumeration value="ManualSoftware" />
      <xs:enumeration value="ManualCombined" />
      <xs:enumeration value="RS485" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NewTerminalSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalType" type="TerminalType" />
          <xs:element minOccurs="1" maxOccurs="1" name="IOType" type="IOType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SerialPortId" type="SerialPortId" />
          <xs:element minOccurs="0" maxOccurs="1" name="SerialPortCommunication" type="SerialCommunicationSettings" />
          <xs:element minOccurs="1" maxOccurs="1" name="SerialPortAutoReopen" type="AutoRetry" />
          <xs:element minOccurs="0" maxOccurs="1" name="SocketRemoteHost" type="IPHost" />
          <xs:element minOccurs="1" maxOccurs="1" name="SocketRemoteTcpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SocketRemoteUdpPort" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="SocketLocalInterface" type="IPNetworkInterface" />
          <xs:element minOccurs="1" maxOccurs="1" name="SocketLocalTcpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SocketLocalUdpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="TcpClientAutoReconnect" type="AutoRetry" />
          <xs:element minOccurs="0" maxOccurs="1" name="UsbSerialHidDeviceInfo" type="DeviceInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="UsbSerialHidAutoOpen" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="StartTerminal" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TerminalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Binary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IOType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="SerialPort" />
      <xs:enumeration value="TcpClient" />
      <xs:enumeration value="TcpServer" />
      <xs:enumeration value="TcpAutoSocket" />
      <xs:enumeration value="Udp" />
      <xs:enumeration value="UsbSerialHid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SerialPortId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoRetry">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Interval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IPHost">
    <xs:complexContent mixed="false">
      <xs:extension base="EnumEx" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnumEx" abstract="true" />
  <xs:complexType name="IPNetworkInterface">
    <xs:complexContent mixed="false">
      <xs:extension base="EnumEx" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="VendorId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MainWindowSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="StartPosition" type="FormStartPosition" />
          <xs:element minOccurs="1" maxOccurs="1" name="WindowState" type="FormWindowState" />
          <xs:element minOccurs="1" maxOccurs="1" name="Location" type="Point" />
          <xs:element minOccurs="1" maxOccurs="1" name="Size" type="Size" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowTerminalInfo" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowChrono" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FormStartPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Manual" />
      <xs:enumeration value="CenterScreen" />
      <xs:enumeration value="WindowsDefaultLocation" />
      <xs:enumeration value="WindowsDefaultBounds" />
      <xs:enumeration value="CenterParent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FormWindowState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Minimized" />
      <xs:enumeration value="Maximized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Size">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoWorkspaceSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FilePath" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TerminalFilesPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WorkspaceFilesPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SendFilesPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogFilesPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MonitorFilesPath" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeneralSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AutoOpenWorkspace" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AutoSaveWorkspace" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="UseRelativePaths" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DetectSerialPortsInUse" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SaveInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>