YAT/YAT/!-Settings/!-Current/TerminalSettingsSchema-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings" nillable="true" type="TerminalSettingsRoot" />
  <xs:complexType name="TerminalSettingsRoot">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SettingsName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SettingsVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Warning" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Mark" type="UserTimeStamp" />
          <xs:element minOccurs="1" maxOccurs="1" name="AutoSaved" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Explicit" type="TerminalExplicitSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Implicit" type="TerminalImplicitSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettingsItem" abstract="true" />
  <xs:complexType name="LayoutSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TxMonitorPanelIsVisible" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="BidirMonitorPanelIsVisible" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RxMonitorPanelIsVisible" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonitorOrientation" type="Orientation" />
          <xs:element minOccurs="1" maxOccurs="1" name="TxMonitorSplitterRatio" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="RxMonitorSplitterRatio" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="PredefinedPanelIsVisible" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PredefinedSplitterRatio" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="SendTextPanelIsVisible" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SendFilePanelIsVisible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Orientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Vertical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WindowSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="State" type="FormWindowState" />
          <xs:element minOccurs="1" maxOccurs="1" name="Location" type="Point" />
          <xs:element minOccurs="1" maxOccurs="1" name="Size" type="Size" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FormWindowState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Minimized" />
      <xs:enumeration value="Maximized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Size">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SelectedPageId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="HideUndefinedCommands" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SendFileSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Command" type="Command" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecentCommands" type="RecentItemOfCommand" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Command">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IsDefined" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefaultRadix" type="Radix" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandLines" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsFilePath" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="FilePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Radix">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Char" />
      <xs:enumeration value="Bin" />
      <xs:enumeration value="Oct" />
      <xs:enumeration value="Dec" />
      <xs:enumeration value="Hex" />
      <xs:enumeration value="Unicode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RecentItemOfCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Item" type="Command" />
      <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendTextSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Command" type="Command" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RecentCommands" type="RecentItemOfCommand" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TerminalImplicitSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalIsStarted" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SendText" type="SendTextSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="SendFile" type="SendFileSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Predefined" type="PredefinedSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Window" type="WindowSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Layout" type="LayoutSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FindSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AllIsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="RootPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RootFileName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ControlLog" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ControlExtension" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RawLogTx" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RawLogBidir" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RawLogRx" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="RawExtension" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="NeatLogTx" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NeatLogBidir" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NeatLogRx" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="NeatExtension" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="NameType" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NameDirection" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NameDate" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NameTime" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameSeparator" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="FolderType" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="FolderDirection" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="WriteMode" type="LogFileWriteMode" />
          <xs:element minOccurs="1" maxOccurs="1" name="TextEncoding" type="TextEncoding" />
          <xs:element minOccurs="1" maxOccurs="1" name="EmitEncodingPreamble" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LogFileWriteMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Create" />
      <xs:enumeration value="Append" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextEncoding">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UTF8" />
      <xs:enumeration value="Terminal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FormatSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Font" type="FontFormat" />
          <xs:element minOccurs="1" maxOccurs="1" name="FormattingEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxDataFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxControlFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxDataFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxControlFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeStampFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeSpanFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeDeltaFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeDurationFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeviceFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="DirectionFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="LengthFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="IOControlFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="WarningFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="ErrorFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="WhiteSpacesFormat" type="TextFormat" />
          <xs:element minOccurs="0" maxOccurs="1" name="BackFormat" type="BackFormat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FontFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Style" type="FontStyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FontStyle">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Regular" />
          <xs:enumeration value="Bold" />
          <xs:enumeration value="Italic" />
          <xs:enumeration value="Underline" />
          <xs:enumeration value="Strikeout" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="TextFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Color" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FontStyle" type="FontStyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BackFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Color" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoTriggerSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Trigger" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TriggerOptions" type="AutoTriggerOptions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AutoTriggerOptions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UseText" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CaseSensitive" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="WholeWord" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="EnableRegex" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoResponseSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="AutoTriggerSettings">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Response" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ResponseOptions" type="AutoResponseOptions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AutoResponseOptions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EnableReplace" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoActionSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="AutoTriggerSettings">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Action" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PredefinedCommandSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PageLayout" type="PredefinedCommandPageLayout" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Pages" type="PredefinedCommandPage" />
          <xs:element minOccurs="1" maxOccurs="1" name="HideUndefinedCommands" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PredefinedCommandPageLayout">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneByOne" />
      <xs:enumeration value="TwoByOne" />
      <xs:enumeration value="ThreeByOne" />
      <xs:enumeration value="OneByTwo" />
      <xs:enumeration value="TwoByTwo" />
      <xs:enumeration value="ThreeByTwo" />
      <xs:enumeration value="OneByThree" />
      <xs:enumeration value="TwoByThree" />
      <xs:enumeration value="ThreeByThree" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PredefinedCommandPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PageName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commands" type="Command" />
      <xs:element minOccurs="0" maxOccurs="1" name="LinkFilePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryDisplaySettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ChunkLineBreakEnabled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="LengthLineBreak" type="LengthSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="SequenceLineBreakBefore" type="BinarySequenceSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="SequenceLineBreakAfter" type="BinarySequenceSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="TimedLineBreak" type="TimeoutSettingTuple" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LengthSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinarySequenceSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sequence" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeoutSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Timeout" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryTerminalSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SeparateTxRxDisplay" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxDisplay" type="BinaryDisplaySettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxDisplay" type="BinaryDisplaySettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextExclusionSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Patterns" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextDisplaySettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ChunkLineBreakEnabled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="LengthLineBreak" type="LengthSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="TimedLineBreak" type="TimeoutSettingTuple" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextTerminalSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Encoding" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DecodingMismatchBehavior" type="DecodingMismatchBehavior" />
          <xs:element minOccurs="1" maxOccurs="1" name="SeparateTxRxEol" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxEol" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxEol" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowEol" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SeparateTxRxDisplay" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxDisplay" type="TextDisplaySettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxDisplay" type="TextDisplaySettings" />
          <xs:element minOccurs="1" maxOccurs="1" name="GlueCharsOfLine" type="TimeoutSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="LineSendDelay" type="TextLineSendDelaySettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="WaitForResponse" type="TextWaitForResponseSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="CharSubstitution" type="CharSubstitution" />
          <xs:element minOccurs="0" maxOccurs="1" name="TextExclusion" type="TextExclusionSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DecodingMismatchBehavior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ComprehensiveWarning" />
      <xs:enumeration value="UnicodeReplacementCharacterAndCompactWarning" />
      <xs:enumeration value="UnicodeReplacementCharacter" />
      <xs:enumeration value="QuestionMarkAndCompactWarning" />
      <xs:enumeration value="QuestionMark" />
      <xs:enumeration value="Discard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TextLineSendDelaySettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Delay" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="LineInterval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TextWaitForResponseSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseLineCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ClearanceLineCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Timeout" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CharSubstitution">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ToUpper" />
      <xs:enumeration value="ToLower" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SendSettingsFile">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SkipEmptyLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnableEscapes" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SendSettingsText">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="KeepSendText" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SendImmediately" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnableEscapes" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SendSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="UseExplicitDefaultRadix" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AllowConcurrency" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CopyPredefined" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Text" type="SendSettingsText" />
          <xs:element minOccurs="0" maxOccurs="1" name="File" type="SendSettingsFile" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefaultDelay" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefaultLineDelay" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefaultLineInterval" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefaultLineRepeat" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignalXOnBeforeEachTransmission" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignalXOnPeriodically" type="PeriodicSettingTuple" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PeriodicSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Interval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CharActionSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BeepOnBell" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CharHideSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="HideXOnXOff" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Hide0x00" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Hide0xFF" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CharReplaceSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ReplaceControlChars" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ControlCharRadix" type="ControlCharRadix" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReplaceBackspace" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReplaceTab" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReplaceSpace" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ControlCharRadix">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bin" />
      <xs:enumeration value="Oct" />
      <xs:enumeration value="Dec" />
      <xs:enumeration value="Hex" />
      <xs:enumeration value="AsciiMnemonic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DisplaySettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SeparateTxRxRadix" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="TxRadix" type="Radix" />
          <xs:element minOccurs="1" maxOccurs="1" name="RxRadix" type="Radix" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowRadix" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowLineNumbers" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="LineNumberSelection" type="LineNumberSelection" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowTimeStamp" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeStampFormat" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TimeStampUseUTC" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowTimeSpan" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeSpanFormat" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowTimeDelta" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeDeltaFormat" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowDevice" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowDirection" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowLength" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="LengthSelection" type="LengthSelection" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowDuration" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeDurationFormat" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IncludeIOControl" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IncludeIOWarnings" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DirectionLineBreakEnabled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DeviceLineBreakEnabled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxLineCount" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxLineLength" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowCopyOfActiveLine" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContentSeparator" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InfoSeparator" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InfoEnclosure" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LineNumberSelection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Total" />
      <xs:enumeration value="Buffer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LengthSelection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByteCount" />
      <xs:enumeration value="CharCount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BufferSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TxBufferSize" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="RxBufferSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ShowConnectTime" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowCountAndRate" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowFlowControlCount" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowBreakCount" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SerialHidDeviceSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DeviceInfo" type="HidDeviceInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="MatchSerial" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Preset" type="SerialHidDeviceSettingsPreset" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReportFormat" type="SerialHidReportFormat" />
          <xs:element minOccurs="1" maxOccurs="1" name="RxFilterUsage" type="SerialHidRxFilterUsage" />
          <xs:element minOccurs="1" maxOccurs="1" name="FlowControl" type="SerialHidFlowControl" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignalXOnWhenOpened" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AutoOpen" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnableRetainingWarnings" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IncludeNonPayloadData" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HidDeviceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="DeviceInfo">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="UsagePage" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="UsageId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="VendorId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SerialHidDeviceSettingsPreset">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Plain" />
      <xs:enumeration value="Common" />
      <xs:enumeration value="LengthIndicated" />
      <xs:enumeration value="ZeroTerminated" />
      <xs:enumeration value="MT_SerHid" />
      <xs:enumeration value="TI_HidApi" />
      <xs:enumeration value="Signal11_HidApi" />
      <xs:enumeration value="YAT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SerialHidReportFormat">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UseId" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrependPayloadByteLength" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AppendTerminatingZero" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="FillLastReport" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SerialHidRxFilterUsage">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SeparateRxId" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AnyRxId" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="RxId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SerialHidFlowControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Software" />
      <xs:enumeration value="ManualSoftware" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SocketSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type" type="SocketType" />
          <xs:element minOccurs="0" maxOccurs="1" name="RemoteHost" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RemoteTcpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="RemoteUdpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocalInterface" type="IPNetworkInterfaceDescriptorPair" />
          <xs:element minOccurs="0" maxOccurs="1" name="LocalFilter" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocalTcpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocalUdpPort" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="TcpClientAutoReconnect" type="IntervalSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="UdpServerSendMode" type="UdpServerSendMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SocketType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="TcpClient" />
      <xs:enumeration value="TcpServer" />
      <xs:enumeration value="TcpAutoSocket" />
      <xs:enumeration value="UdpClient" />
      <xs:enumeration value="UdpServer" />
      <xs:enumeration value="UdpPairSocket" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IPNetworkInterfaceDescriptorPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntervalSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Interval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UdpServerSendMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="First" />
      <xs:enumeration value="MostRecent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SerialCommunicationSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BaudRate" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DataBits" type="DataBits" />
          <xs:element minOccurs="1" maxOccurs="1" name="Parity" type="Parity" />
          <xs:element minOccurs="1" maxOccurs="1" name="StopBits" type="StopBits" />
          <xs:element minOccurs="1" maxOccurs="1" name="FlowControl" type="SerialFlowControl" />
          <xs:element minOccurs="1" maxOccurs="1" name="RtsPin" type="SerialControlPinState" />
          <xs:element minOccurs="1" maxOccurs="1" name="DtrPin" type="SerialControlPinState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DataBits">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Five" />
      <xs:enumeration value="Six" />
      <xs:enumeration value="Seven" />
      <xs:enumeration value="Eight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Parity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Odd" />
      <xs:enumeration value="Even" />
      <xs:enumeration value="Mark" />
      <xs:enumeration value="Space" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StopBits">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="One" />
      <xs:enumeration value="Two" />
      <xs:enumeration value="OnePointFive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SerialFlowControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Hardware" />
      <xs:enumeration value="Software" />
      <xs:enumeration value="Combined" />
      <xs:enumeration value="ManualHardware" />
      <xs:enumeration value="ManualSoftware" />
      <xs:enumeration value="ManualCombined" />
      <xs:enumeration value="RS485" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SerialControlPinState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SerialPortSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PortId" type="SerialPortId" />
          <xs:element minOccurs="0" maxOccurs="1" name="Communication" type="SerialCommunicationSettings" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignalXOnWhenOpened" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AliveMonitor" type="IntervalSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="AutoReopen" type="IntervalSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="OutputBufferSize" type="SizeSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="BufferMaxBaudRate" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxChunkSize" type="SizeSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxSendRate" type="RateSettingTuple" />
          <xs:element minOccurs="1" maxOccurs="1" name="IgnoreFramingErrors" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnableRetainingWarnings" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoSendOnOutputBreak" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoSendOnInputBreak" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SerialPortId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SizeSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateSettingTuple">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Interval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IOType" type="IOType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SerialPort" type="SerialPortSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Socket" type="SocketSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="UsbSerialHidDevice" type="SerialHidDeviceSettings" />
          <xs:element minOccurs="1" maxOccurs="1" name="Endianness" type="Endianness" />
          <xs:element minOccurs="1" maxOccurs="1" name="IndicateSerialPortBreakStates" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SerialPortOutputBreakIsModifiable" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IOType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="SerialPort" />
      <xs:enumeration value="TcpClient" />
      <xs:enumeration value="TcpServer" />
      <xs:enumeration value="TcpAutoSocket" />
      <xs:enumeration value="UdpClient" />
      <xs:enumeration value="UdpServer" />
      <xs:enumeration value="UdpPairSocket" />
      <xs:enumeration value="UsbSerialHid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Endianness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BigEndian" />
      <xs:enumeration value="LittleEndian" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TerminalSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalType" type="TerminalType" />
          <xs:element minOccurs="0" maxOccurs="1" name="IO" type="IOSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Status" type="StatusSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Buffer" type="BufferSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Display" type="DisplaySettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="CharReplace" type="CharReplaceSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="CharHide" type="CharHideSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="CharAction" type="CharActionSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Send" type="SendSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="TextTerminal" type="TextTerminalSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="BinaryTerminal" type="BinaryTerminalSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TerminalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Binary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TerminalExplicitSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="SettingsItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="LogIsOn" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Terminal" type="TerminalSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="PredefinedCommand" type="PredefinedCommandSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutoAction" type="AutoActionSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutoResponse" type="AutoResponseSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Format" type="FormatSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Log" type="LogSettings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Find" type="FindSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserTimeStamp">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>